@tailwind base;
@tailwind components;
@tailwind utilities;



.custom-card{
width: 100%;
max-width:200px;
}

.custom-card img{
width:100%;
height: 200px;
object-fit: cover;
border-radius: 20px;
transition: transform 0.3s ease-in-out;
}

.custom-card img:hover{
transform: scale(1.1);

}
.button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .custom_input{
width:100%;
max-width: 500px;
padding:10px;
border-radius:25px;

  }
  .shimmerLine{
    height:10px;
    background-color: #f0eeee;
  }
  .shimmerImg{
    height: 200px;
    width:100%;
    background-color: #f0eeee;
  }